fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic-settings
psutil
prometheus-client

opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http

redis
httpx
tenacity